@font-face {
    font-family: DS-DIGI;
    src: url('../font/DS-DIGI.TTF');
}
@font-face {
    font-family: DS-DIGIB;
    src: url('../font/DS-DIGIB.TTF');
}
@font-face {
    font-family: RankedSports;
    src: url('../font/RankedSports-4BMrB.ttf');
}